# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# =========================
# Django / Flask
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/

# =========================
# Migrations (optional)
# اگر نمی‌خوای مایگریشن‌ها برن گیت
# =========================
# **/migrations/
# !**/migrations/__init__.py

# =========================
# Build / Dist
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================
.env
.env.*
